header {
  background-color: blue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
}
.headerLinks {
  color: white;
  padding: 25px;
}
.playersContainer {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
}
.playerList {
  background-color: chartreuse;
  text-align: center;
  
}
#playerListText {
  text-decoration: underline;
}
.player {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 135, 189);
  text-align: center;
}
button {
  border-radius: 6px;
  background-color: darkorange;
  color: black;
  padding: 10px;
}
.formsubmit {
  border-radius: 6px;
  background-color: darkorange;
  color: black;
  padding: 10px;
}

.formsubmitcontainer {
  display: flex;
  justify-content: center;
    
}
.inputfield {
  border-radius: 6px;
}