.updateplayerteamcontainer {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}
.playerteamupdate {
    display: flex;
    flex-direction: column;
    
}
.playerinputfield {
    padding: 10px;
}
.playerteamhandle {
    padding: 10px;
}